<header>
    <h1>Sample POC </h1>
</header>
<div id="text">
    <form id="form">
        <input id="in" type="text" ng-model="userinput" />
    </form><br><br><br><br>
</div>
<div id="button">
    <button click="myFunc()" formtarget="_blank">Validate</button>
</div>
<p id="error"></p>
<br><br>
<div id="container">
    <table>
        <tr> Result area:</tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td> Domain:</td>
            <td id="Domain"></td>
        </tr>
        <tr>
            <td> Userid:</td>
            <td id="userid"></td>
        </tr>
    </table>
</div>
<router-outlet></router-outlet>